body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #292b31;
  /* Modal um Bilder hochzuladen*/
  /* Modal um Bilder hochzuladen*/
  /* Footer */
}
body main {
  margin-left: 2.8rem;
  margin-top: 0.5rem;
}
body main table:nth-child(1) {
  width: 99.9%;
  border: none;
  margin-left: -1.2rem;
}
body main table:nth-child(1) td,
body main table:nth-child(1) th {
  border: none;
}
body main table:nth-child(1) tr th button {
  background-color: gold;
  border: 2px solid gold;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.5s ease;
  float: right;
}
body main table:nth-child(1) tr th button:hover {
  background-color: black;
  color: gold;
  transition-duration: 0.4s;
}
body main table:nth-child(2) {
  overflow-x: auto;
  box-shadow: 5px 5px 10px silver;
  border-collapse: collapse;
  width: 98%;
}
body main table:nth-child(2) tr td a .edit {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.5s ease;
}
body main table:nth-child(2) tr td a .edit:hover {
  background-color: white;
  color: #4caf50;
  transition-duration: 0.4s;
}
body main table:nth-child(2) tr td a .delete {
  background-color: red;
  border: 2px solid red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}
body main table:nth-child(2) tr td a .delete:hover {
  background-color: white;
  color: red;
}
body main table th,
body main table td {
  padding: 15px;
  color: white;
}
body main table,
body main td,
body main th {
  border: 1px solid #ddd;
  text-align: left;
}
body .benutzer_hinzufuegens {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body .benutzer_hinzufuegens .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: 0 0 30px #ccc;
}
body .benutzer_hinzufuegens .modal-content .modal-header {
  padding: 2px 16px;
  background-color: lightblue;
  color: white;
}
body .benutzer_hinzufuegens .modal-content .modal-header .closeUser {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .benutzer_hinzufuegens .modal-content .modal-header .closeUser:hover, body .benutzer_hinzufuegens .modal-content .modal-header .closeUser:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body .benutzer_hinzufuegens .modal-content .modal-body {
  padding: 2px 16px;
}
body .benutzer_hinzufuegens .modal-content .modal-body input[type=text],
body .benutzer_hinzufuegens .modal-content .modal-body input[type=email],
body .benutzer_hinzufuegens .modal-content .modal-body input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
body .benutzer_hinzufuegens .modal-content .modal-body .warning {
  color: red;
}
body .benutzer_hinzufuegens .modal-content .modal-body input[type=submit] {
  background-color: royalblue;
  border: 2px solid royalblue;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body .benutzer_hinzufuegens .modal-content .modal-body input[type=submit]:hover {
  background-color: lightblue;
  color: royalblue;
  border: 2px solid royalblue;
}
body .bild_hinzufuegens {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body .bild_hinzufuegens .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: 0 0 30px #ccc;
}
body .bild_hinzufuegens .modal-content .modal-header {
  padding: 2px 16px;
  background-color: lightblue;
  color: white;
}
body .bild_hinzufuegens .modal-content .modal-header .closeImages {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .bild_hinzufuegens .modal-content .modal-header .closeImages:hover, body .bild_hinzufuegens .modal-content .modal-header .closeImages:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body .bild_hinzufuegens .modal-content .modal-body {
  padding: 2px 16px;
}
body .bild_hinzufuegens .modal-content .modal-body input[type=text],
body .bild_hinzufuegens .modal-content .modal-body input[type=email],
body .bild_hinzufuegens .modal-content .modal-body input[type=password],
body .bild_hinzufuegens .modal-content .modal-body input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
body .bild_hinzufuegens .modal-content .modal-body textarea {
  box-sizing: border-box;
  width: 100%;
}
body .bild_hinzufuegens .modal-content .modal-body input[type=checkbox] {
  height: 25px;
  width: 25px;
}
body .bild_hinzufuegens .modal-content .modal-body .warning {
  color: red;
}
body .bild_hinzufuegens .modal-content .modal-body input[type=submit] {
  background-color: royalblue;
  border: 2px solid royalblue;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body .bild_hinzufuegens .modal-content .modal-body input[type=submit]:hover {
  background-color: lightblue;
  color: royalblue;
  border: 2px solid royalblue;
}
body footer {
  text-align: center;
  background-color: lightblue;
  margin-top: auto;
  padding: 0;
  margin: 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=benutzerverwaltung.css.map */