@media screen and (max-width: 968px) {
    body {
        nav {
            .part1 {
                h1 {
                    font-size: 1rem;
                }
                img {
                    width: 80px;
                }
            }
            .part2 {
                a {
                    font-size: 0.9rem;
                }
                .uploadBtn,
                .loginBtn,
                .logoutBtn {
                    padding: 5px 21px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 841px) {
    body {
        nav {
            .part1 {
                h1 {
                    font-size: 0.6rem;
                }
            }
            .part2 {
                a {
                    font-size: 0.7rem;
                }
                .uploadBtn,
                .loginBtn,
                .logoutBtn {
                    padding: 0px 0px;
                    font-size: 10px;
                }
            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292b31;
    /* Navigation Bar */
    nav {
        display: flex;
        width: 100%;
        background-color: lightblue;
        box-shadow: 2px 3px 5px grey;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100;
        .part1 {
            margin-left: 2rem;
            display: flex;
            width: 20%;
            cursor: pointer;
            img {
                object-fit: contain;
                width: 20%;
                margin-top: auto;
                margin-bottom: auto;
                min-width: 40px;
                transition: 500ms;
                &:hover {
                    transform: scale(1.1);
                    transition: 500ms;
                }
            }
            h1 {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 1rem;
                transition-duration: 0.4s;
                &:hover {
                    text-shadow: 2px 2px lightgray;
                }
            }
        }
        .part2 {
            width: 80%;
            margin-top: auto;
            margin-bottom: auto;
            text-align: right;
            margin-right: 2rem;
            a {
                font-weight: bold;
                text-decoration: none;
                color: black;
                margin-left: 2rem;
                transition-duration: 0.4s;
                &:hover {
                    font-style: italic;
                    color: white;
                }
                &.active {
                    color: yellow;
                    font-style: italic;
                }
            }
            button {
                background-color: royalblue;
                border: 2px solid royalblue;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                margin-left: 2rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transition-duration: 0.4s;
                cursor: pointer;
                &:hover {
                    background-color: lightblue;
                    color: royalblue;
                    border: 2px solid royalblue;
                }
            }
            button:nth-child(2) {
                margin-right: 2.4rem;
            }
        }
    }
    form {
        width: 100%;
        max-width: 500px;
        margin: 50px auto;
        background: #fafafa;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 96px 0px silver;
        -moz-box-shadow: 0px 0px 96px 0px silver;
        box-shadow: 0px 0px 96px 0px silver;
        min-height: 250px;
        padding: 40px;
        label {
            font-size: 1.1rem;
        }
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=date] {
            width: 100%;
            height: 28px;
            margin-bottom: 15px;
            padding: 12px 10px;
        }
        input[type=submit] {
            background-color: royalblue;
            border: 2px solid royalblue;
            color: white;
            width: 50%;
            padding: 16px 32px;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition-duration: 0.4s;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: royalblue;
                border: 2px solid royalblue;
            }
        }
    }
    /* Footer */
    footer {
        text-align: center;
        background-color: lightblue;
        margin-top: auto;
        padding: 0;
        margin: 0;
    }
}